@use "./variables" as v;

body {
    background-color: v.$red;
    background-image: url("./../../images/bg-intro-mobile.png");
    font-family: v.$font-family;
    font-size: v.$font-size;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px 40px;
}

h1 {
    font-weight: v.$font_weight-seven;
    color: white;
}