@use "./variables" as v;

body {
	background-color: v.$red;
	background-image: url("./../../images/bg-intro-mobile.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: v.$font-family;
	font-size: v.$font-size;

	@include v.desktop {
		background-image: url("./../../images/bg-intro-desktop.png");
	}
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	@include v.desktop {
		flex-direction: row;
		gap: 20px;
	}
}

h1 {
	color: whitesmoke;
	font-size: 27px;
}

.left_container {
	padding-bottom: 48px;

	@include v.desktop {
		max-width: 568px;
		height: 598px;
	}
}

.heading {
	text-align: center;
	padding: 90px 70px 20px 70px;
}

.message {
	color: whitesmoke;
	padding: 20px 30px;
	text-align: center;
}

.right_container {
	padding-bottom: 50px;
	overflow: hidden;
}

.free_days_trail_container {
	background-color: v.$blue;
	border-radius: 10px;
	box-shadow: 0 5px 2px -2px #777777;
	margin: auto;
	margin-bottom: 28px;
	width: 312px;

	@include v.desktop {
		width: 544px;
	}
}

.free_trail {
	text-align: center;
	padding: 1.25rem 3.125rem;
	color: whitesmoke;
}

span {
	color: white;
	font-weight: v.$font_weight-seven;
}


.form_container {
	border-radius: 10px;
	background-color: whitesmoke;
	box-shadow: 0 5px 2px -2px #777777;
	width: 312px;

	@include v.desktop {
		width: 544px;
	}
}

.contact_info {
	padding: 30px 0px 0px 0px;
}

input {
	border: 0;
	border-radius: 5px;
	display: block;
	font-size: v.$font-size;
	width: 270px;
	padding: 10px;
	margin: auto;

	@include v.desktop {
		width: 460px;
	}
}

input[type="button"] {
	background-color: v.$green;
	color: whitesmoke;
	font-weight: v.$font_weight-six;
}

.terms_of_services {
	color: v.$grayish_blue;
	font-size: 12px;
	padding: 20px;
	text-align: center;
}

.terms {
	color: v.$red;
}