/* typography */
$font-family: 'Poppins', sans-serif;
$font-size: 16px;
$font-weight-four: 400;
$font-weight-five: 500;
$font_weight-six: 600;
$font_weight-seven: 700;

/*primary colors */
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
/*accent color */
$blue: hsl(248, 32%, 49%);
/*netural color */
$dark_blue: hsl(249, 10%, 26%);
$grayish_blue: hsl(246, 25%, 77%)