/* typography */
/*primary colors */
/*accent color */
/*netural color */
/* media queries for laptop and desktop*/
body {
  background-color: hsl(0, 100%, 74%);
  background-image: url("./../../images/bg-intro-mobile.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
@media (min-width: 64.0625em) and (max-width: 80em) {
  body {
    background-image: url("./../../images/bg-intro-desktop.png");
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 64.0625em) and (max-width: 80em) {
  main {
    flex-direction: row;
    padding-right: 30px;
  }
}

h1 {
  color: whitesmoke;
  font-size: 27px;
}
@media (min-width: 64.0625em) and (max-width: 80em) {
  h1 {
    font-size: 36px;
    font-weight: 700;
  }
}

.left_container {
  padding-bottom: 48px;
}
@media (min-width: 64.0625em) and (max-width: 80em) {
  .left_container {
    max-width: 568px;
    padding: 0px;
  }
}

.heading {
  text-align: center;
  padding: 90px 70px 20px 70px;
}
@media (min-width: 64.0625em) and (max-width: 80em) {
  .heading {
    padding: 0px 120px 50px 0px;
    text-align: left;
  }
}

.message {
  color: whitesmoke;
  padding: 20px 30px;
  text-align: center;
}
@media (min-width: 64.0625em) and (max-width: 80em) {
  .message {
    padding: 0px;
    text-align: left;
  }
}

/* right side of the content styling */
.right_container {
  padding-bottom: 50px;
  overflow: hidden;
}
@media (min-width: 64.0625em) and (max-width: 80em) {
  .right_container {
    padding: 0px;
  }
}

.free_days_trail_container {
  background-color: hsl(248, 32%, 49%);
  border-radius: 10px;
  box-shadow: 0 5px 2px -2px #777777;
  margin: auto;
  margin-bottom: 28px;
  width: 312px;
}
@media (min-width: 64.0625em) and (max-width: 80em) {
  .free_days_trail_container {
    width: 544px;
  }
}

.free_trail {
  text-align: center;
  padding: 1.25rem 3.125rem;
  color: whitesmoke;
}

span {
  color: white;
  font-weight: 700;
}

.form_container {
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 0 5px 2px -2px #777777;
  width: 312px;
}
@media (min-width: 64.0625em) and (max-width: 80em) {
  .form_container {
    width: 544px;
    padding-bottom: 30px;
    box-shadow: none;
  }
}

.contact_info {
  padding: 30px 0px 0px 0px;
}
@media (min-width: 64.0625em) and (max-width: 80em) {
  .contact_info {
    padding: 30px;
  }
}

input {
  border: 0;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  width: 270px;
  padding: 10px;
  margin: auto;
  outline: none;
}
@media (min-width: 64.0625em) and (max-width: 80em) {
  input {
    width: 460px;
  }
}

/*  input focus section */
input[type=text] {
  border: 1px solid #ccc;
}

input[type=email] {
  border: 1px solid #ccc;
}

input[type=password] {
  border: 1px solid #ccc;
}

input[type=text]:focus {
  border: 1px solid hsl(249, 10%, 26%);
}

input[type=email]:focus {
  border: 1px solid hsl(249, 10%, 26%);
}

input[type=password]:focus {
  border: 1px solid hsl(249, 10%, 26%);
}

input[type=button] {
  background-color: hsl(154, 59%, 51%);
  color: whitesmoke;
  font-weight: 600;
}

.terms_of_services {
  color: hsl(246, 25%, 77%);
  font-size: 12px;
  padding: 20px;
  text-align: center;
}

.terms {
  color: hsl(0, 100%, 74%);
}/*# sourceMappingURL=style.css.map */